<div id="container">
    KLK
</div>

<style>
    #container {
        padding: 5%;
        background-color: lightblue;
        background-clip: content-box;
        height: 100%;
        box-sizing: border-box;
    }
</style>