---
import Profile from "./Profile.astro";
import Content from "./Content.astro";
---

<div class="parent">
	<div class="div1">
		<Profile />
	</div>
	<div class="div2">
		<Content />
	</div>
</div>

<style>
	.parent {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(5, 1fr);
		gap: 8px;
		height: 100vh;
		width: 100vw;
		overflow: hidden;
	}

	.div1 {
		grid-row: span 5 / span 5;
		overflow-y: auto;
	}

	.div2 {
		grid-column: span 2 / span 2;
		grid-row: span 5 / span 5;
		overflow-y: auto;
	}

	@media (max-width: 968px) {
		.parent {
			grid-template-columns: 1fr;
			grid-template-rows: auto 1fr;
			gap: 0;
			height: 100vh;
			overflow-y: auto;
		}

		.div1 {
			grid-row: 1;
			overflow-y: visible;
		}

		.div2 {
			grid-column: 1;
			grid-row: 2;
			overflow-y: visible;
		}
	}
</style>
