---
import Profile from "./Profile.astro"
---

<div class="parent">
	<div class="div1">
		<Profile />
	</div>
	<div class="div2">2</div>
</div>

<style>
	.parent {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(5, 1fr);
		gap: 8px;
		height: 100vh;
		width: 100vw;
	}

	.div1 {
		grid-row: span 5 / span 5;
	}

	.div2 {
		grid-column: span 2 / span 2;
		grid-row: span 5 / span 5;
		background-color: lightcoral;
	}
</style>
